.p-ad-layout {
  min-height: 89vh;
}

.selectedPointbtn {
  background-color: green;
}

.card-userstory {
  min-height: 87vh;
}

.card-userstory-content {
  min-height: 71vh;
}

.poker-button-row {
  padding: 16px;
}

.poker-button-row button,
.poker-button-row a {
  margin-right: 8px;
}

.poker-userstory-container {
  max-height: 68vh;
  overflow: auto;
}

.max-header {
  margin-bottom: 10px;
}

.mat-toolbar-cus {
  background-color: #fff;
}

.poker-spacer {
  flex: 1 1 auto;
}

.flippable-card mat-card {
  margin: 0;
  display: block;
  position: absolute;
  width: 252px;
  height: 222px;
  backface-visibility: hidden;
}

.flippable-card .back {
  background: #f0f0f0;
  transform: rotateY(180deg);
}

.flippable-card.flipped {
  transform: rotateY(180deg);
}
