<div class="content container" role="main">
  <mat-card class="mat-elevation-z8">
    <div class="content max-header" fxLayout="row" fxFlexFill>
      <mat-toolbar class="mat-toolbar-cus mat-elevation-z2">
        <div class="poker-button-row">
          <button mat-raised-button color="primary">
            Flip
          </button>
          <button mat-raised-button color="primary">
            Next
          </button>
        </div>
        <span class="poker-spacer"></span>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </mat-toolbar>
    </div>
    <div
      class="content"
      fxLayout="row"
      fxLayout.xs="column"
      fxFlexFill
      fxLayoutGap="5px"
    >
      <div fxFlex="20" class="sec1 p-ad-layout">
        <mat-card class="mat-elevation-z8">
          <mat-grid-list [cols]="4">
            <mat-grid-tile *ngFor="let agilePointModel of agilePoints">
              <button
                [ngClass]="{
                  selectedPointbtn: selectedBtn == agilePointModel.Point
                }"
                (click)="toggleColor(agilePointModel.Point)"
                mat-fab
                color="primary"
                aria-label="Example icon button with a delete icon"
              >
                {{ agilePointModel.Point }}
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
      </div>
      <div fxFlex="50" class="sec2 p-ad-layout">
        <mat-card>
          <mat-grid-list [cols]="4" gutterSize="8px" rowHeight="7rem">
            <mat-grid-tile
              class="mat-elevation-z2"
              *ngFor="let playerPointModel of playerDetails"
            >
              <div
                class="content"
                fxLayout="row"
                fxLayout.xs="column"
                fxFlexFill
                fxLayoutGap="5px"
                fxLayoutAlign="center center"
              >
                <div style="font-family: webfontZq6K; font-size: 65px;">
                  <span> {{ playerPointModel.Points }}</span>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div class="mat-h2">
                  {{ playerPointModel.Name }}
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
        <mat-card cdkDrag>
          <div>
            I can only be dragged left/right
          </div>
        </mat-card>
      </div>
      <div fxFlex="30" class="sec3 p-ad-layout">
        <mat-card class="mat-card card-userstory">
          <mat-card-title><h1>User Stories</h1></mat-card-title>
          <mat-card-content class="card-userstory-content">
            <div class="poker-userstory-container">
              <mat-table [dataSource]="dataSource">
                <!-- Position Column -->
                <ng-container matColumnDef="no">
                  <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{ element.no }}
                  </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{ element.name }}
                  </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="points">
                  <mat-header-cell *matHeaderCellDef> Points </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{ element.points }}
                  </mat-cell>
                </ng-container>

                <mat-header-row
                  *matHeaderRowDef="displayedColumns; sticky: true"
                >
                </mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></mat-row>
              </mat-table>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <div class="poker-button-row">
              <button mat-raised-button color="primary">
                Add User Story
              </button>
              <button mat-raised-button color="primary">
                End Game
              </button>
            </div>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>
